@model TeleTime.Models.Role

@{
    ViewBag.Title = "Ta bort roll";
}

<h2>Ta bort roll</h2>

<h3>Är du säker på att du vill ta bort rollen?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Roll
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till roll", "Index")
        </div>
    }
</div>
