@model TeleTime.Models.Shift

@{
    ViewBag.Title = "Ta bort pass";
}



<h3>Är du säker på att du vill ta bort passet?</h3>
<div>
    <h4>Alla arbetsdagar med passet kommer också tas bort.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pass
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till pass", "Index")
        </div>
    }
</div>
