@{
 //   ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3><b>@ViewBag.Message</b></h3>

<address>
    "TeleTime" - Lernia examenarbete<br />

</address>

<address>
    <strong>Rickard</strong> <a href="mailto:rickard.frs@gmail.com">rickard.frs@gmail.com</a><br />
    <strong>David</strong>   <a href="mailto:david.welin16@gmail.com">david.welin16@gmail.com</a>
</address>