@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2><b>TeleTime - Enkel .NET schemaläggning</b></h2>
    <p class="lead">Vårt schemaläggningsprogram använder sig av ASP.NET och C# för en säker och snabb Backend och flexbil och enkel Frontend.
                    Skapa pass, lägg till personer, lägg till roller, välj en dag på kalendern och passet visas.
                    Smidigare och mycket bättre än gamla Excel-ark! </p>
    <br></br>

    <img src="~/images/Kalender001.jpg" alt="Kalender"  width="70%" height="70%" />
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lär dig mer</h2>
        <p>
            Lär dig hur du använder Schemaläggaren och vilka funktioner som finns.
        </p>
        <p><a class="btn btn-primary" onclick="location.href='@Url.Action("About","Home")'">Mer info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registrera dig</h2>
        <p>
            Registrera dig nu och få tillgång till alla TeleTimes funktioner.
        </p>
        <p><a class="btn btn-primary" onclick="location.href='@Url.Action("Register","Account")'">Registrera &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kontakta oss</h2>
        <p>Har du några frågor här får du reda på hur du tar kontakt med oss.</p>
        <p><a class="btn btn-primary" onclick="location.href='@Url.Action("Contact","Home")'">Kontakt &raquo;</a></p>
    </div>
</div>