@model TeleTime.Models.WorkDay

@{
    ViewBag.Title = "Ta bort!";
}

<h2>Ta bort!</h2>

<h3>Är du säker på att du vill ta bort arbetsdagen?</h3>
<div>
    <h4>WorkDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.Date)
        </dd>

        <dt>
            Pass
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shifts.ShiftName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till arbetsdag", "Index")
        </div>
    }
</div>
