@model IEnumerable<TeleTime.Models.Time>

@{
    ViewBag.Title = "Tid för arbetspassen";
}

<h3>Tid för arbetspassen</h3>

<p>
    @Html.ActionLink("Skapa ny tid", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tid
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkTime)
        </td>
        <td>
            @Html.ActionLink("Ändra tid", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Ta bort tid", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
