@{
//ViewBag.Title = "Calendar";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h3><b>Kalender</b></h3>
<p>"Dubbelklicka" på en dag i veckovyn.</p>

<!DOCTYPE html>
<html>
<head>
    <title>DHXScheduler initialization sample</title>
    <style>
        body {
       /*    background-color: #2b3e50;*/
        }
    </style>
</head>
<body>
    <div style="height:700px;width:900px;box-shadow: 0 0 7px 0px black">
        @Html.Raw(Model.Render())
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm"}))
        {
            @Html.AntiForgeryToken()
        }

    </div>

    <script>
        // JavaScript for creating interaction with the user interface. 
        window.addEventListener('DOMSubtreeModified', function () {

            var dayNow = document.getElementsByClassName('dhx_scale_holder_now');

            var days = document.getElementsByClassName('dhx_scale_holder');
            var shiftDays = document.getElementsByClassName('dhx_body');
            
            var monthDays = document.getElementsByTagName('td');
            var monthShiftDays = document.getElementsByClassName('dhx_cal_event_clear');

            if (dayNow.length > 0) {
                dayNow[0].addEventListener('dblclick', function () {
                    var newText = this.outerHTML.match(/\d{1,2}\s[a-zA-Z]{3}\s\d{4}/);

                    var date = newText[0];
                    var day = date.match(/\d{1,2}/);
                    if (day[0].length == 1) {
                        day = '0' + day;
                    }

                    if (date.match(/Jan/)) {
                        var month = '01';
                    }
                    if (date.match(/Feb/)) {
                        var month = '02';
                    }
                    if (date.match(/Mar/)) {
                        var month = '03';
                    }
                    if (date.match(/Apr/)) {
                        var month = '04';
                    }
                    if (date.match(/May/)) {
                        var month = '05';
                    }
                    if (date.match(/Jun/)) {
                        var month = '06';
                    }
                    if (date.match(/Jul/)) {
                        var month = '07';
                    }
                    if (date.match(/Aug/)) {
                        var month = '08';
                    }
                    if (date.match(/Sep/)) {
                        var month = '09';
                    }
                    if (date.match(/Oct/)) {
                        var month = '10';
                    }
                    if (date.match(/Nov/)) {
                        var month = '11';
                    }
                    if (date.match(/Dec/)) {
                        var month = '12';
                    }
                    var year = date.match(/\d{4}/);

                    var clickedDate = year + "-" + month + "-" + day;
                    var redirectDate = year + month + day;

                    console.log(redirectDate);
                    doPost(clickedDate, redirectDate);
                }, false);
            }

            // TODO - continue here... Month days with shifts -> Bug that's not fixed
            for (var i = 0; i < monthShiftDays.length; i++) {
                monthShiftDays[i].addEventListener('click', function () {
                    console.log(this.innerText);
                }, false);
            }

            for (var i = 0; i < monthDays.length; i++) {
                monthDays[i].addEventListener('dblclick', function () {
                    var newText = this.outerHTML.match(/\d{1,2}\s[a-zA-Z]{3}\s\d{4}/);

                    var date = newText[0];
                    var day = date.match(/\d{1,2}/);
                    if (day[0].length == 1) {
                        day = '0' + day;
                    }

                    if (date.match(/Jan/)) {
                        var month = '01';
                    }
                    if (date.match(/Feb/)) {
                        var month = '02';
                    }
                    if (date.match(/Mar/)) {
                        var month = '03';
                    }
                    if (date.match(/Apr/)) {
                        var month = '04';
                    }
                    if (date.match(/May/)) {
                        var month = '05';
                    }
                    if (date.match(/Jun/)) {
                        var month = '06';
                    }
                    if (date.match(/Jul/)) {
                        var month = '07';
                    }
                    if (date.match(/Aug/)) {
                        var month = '08';
                    }
                    if (date.match(/Sep/)) {
                        var month = '09';
                    }
                    if (date.match(/Oct/)) {
                        var month = '10';
                    }
                    if (date.match(/Nov/)) {
                        var month = '11';
                    }
                    if (date.match(/Dec/)) {
                        var month = '12';
                    }
                    var year = date.match(/\d{4}/);

                    var clickedDate = year + "-" + month + "-" + day;
                    var redirectDate = year + month + day;

                    console.log(redirectDate);
                    doPost(clickedDate, redirectDate);
                }, false);
            }

            for (var i = 0; i < shiftDays.length; i++) {
                shiftDays[i].addEventListener('click', function () {
                    var shiftText = this.innerHTML;
                    if (shiftText != '') {
                        console.log(shiftText);
                        window.location.href = 'http://localhost:65386/WorkShift/ShowShift/?shiftName=' + shiftText;
                    }
                }, false);
            }

            for (var i = 0; i < days.length; i++) {
                days[i].addEventListener('dblclick', function () {
                    var newText = this.outerHTML.match(/\d{1,2}\s[a-zA-Z]{3}\s\d{4}/);

                    var date = newText[0];
                    var day = date.match(/\d{1,2}/);
                    if (day[0].length == 1) {
                        day = '0' + day;
                    }

                    if (date.match(/Jan/)) {
                        var month = '01';
                    }
                    if (date.match(/Feb/)) {
                        var month = '02';
                    }
                    if (date.match(/Mar/)) {
                        var month = '03';
                    }
                    if (date.match(/Apr/)) {
                        var month = '04';
                    }
                    if (date.match(/May/)) {
                        var month = '05';
                    }
                    if (date.match(/Jun/)) {
                        var month = '06';
                    }
                    if (date.match(/Jul/)) {
                        var month = '07';
                    }
                    if (date.match(/Aug/)) {
                        var month = '08';
                    }
                    if (date.match(/Sep/)) {
                        var month = '09';
                    }
                    if (date.match(/Oct/)) {
                        var month = '10';
                    }
                    if (date.match(/Nov/)) {
                        var month = '11';
                    }
                    if (date.match(/Dec/)) {
                        var month = '12';
                    }
                    var year = date.match(/\d{4}/);

                    var clickedDate = year + "-" + month + "-" + day;
                    var redirectDate = year + month + day;

                    doPost(clickedDate, redirectDate);
                    }, false);
            }

            function doPost(clickedDate, redirectDate) {

                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                $.post("/Day/Create",
                    {
                        __RequestVerificationToken: token,
                        Date: clickedDate
                    });

                window.location.href = 'http://localhost:65386/WorkDay/CreateDate/?date=' + redirectDate;

            }

        }, false);    
       
    </script>
</body>
</html>