@{
    ViewBag.Title = "Calendar";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
<html>
<head>
    <title>DHXScheduler initialization sample</title>
    <style>
        body {
            background-color: #2b3e50;
        }
    </style>
</head>
<body>
    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
    <script>
        const calendar = document.getElementsByClassName('dhx_scale_holder');

        console.log(calendar);

    </script>
</body>
</html>